td.RowPadding10
{
padding-bottom:10px;
}
td.RowPadding15
{
padding-bottom:15px;
}
th.lastTh
{
width:100%;
}
td.EnumCell, th.EnumCell, span.EnumCell
{
text-align:left;
}
td.StringCell, th.StringCell, span.StringCell
{
text-align:left;
}
td.NumberCell, th.NumberCell, span.NumberCell
{
text-align:left;
}
td.Instructional
{
padding-bottom: 15px;
}
td.CopyFromErr
{
width:130px;
white-space:normal;
vertical-align:bottom;
}
td.CopyToErr
{
width:200px;
white-space:normal;
vertical-align:bottom;
}
td.TopContextMsg
{
white-space:normal;
vertical-align:bottom;
}
td.CtrlCell, th.CtrlCell
{
width:0;
}
tr.filterRow
{
height:29px;
}
tr.filterRow label select input table
{
margin-right:0px;
margin-left:0px;
}
tr.filterRow td
{
padding-left:0px;
padding-right:8px;
}
.filterBtnSpacing
{
padding-left:16px;
}
.nextColumn
{
padding-left:40px;
}
.underlineText
{
text-decoration:underline;
}
.equalsAfterItalic
{
padding-left:3px;
}
.equals
{
padding-left:4px;
}
.beforeEquals
{
padding-right:0px;
}
td.btnNext
{
text-align: center;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent url(../images/styling/NextButtons.gif) no-repeat;
height: 23px;
}
td.btnBack
{
text-align: center;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent url(../images/styling/BackButton.gif) no-repeat;
height: 23px;
}
td.btnTransformNext
{
text-align: center;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent url(../images/styling/TransformNextButton.gif) no-repeat;
height: 23px;
}
td.btnTransformBack
{
text-align: center;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent url(../images/styling/TransformBackButton.gif) no-repeat;
height: 23px;
}
td.btnTransformUp
{
text-align: center;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent url(../images/styling/UpButtons.gif) no-repeat;
height: 23px;
}
td.btnTransformDown
{
text-align: center;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent url(../images/styling/DownButtons.gif) no-repeat;
height: 23px;
}
.textBlock
{
width:42em;
height:auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}
table.btn_normal td.btnNext, table.btn_normal td.btnBack, table.btn_normal td.btnTransformBack,table.btn_normal td.btnTransformUp,table.btn_normal td.btnTransformDown, table.btn_normal td.btnTransformNext {background-position: 0px 0px;}
table.btn_normal {color: #000000;}
table.btn_pressed td.btnNext,table.btn_pressed td.btnBack,table.btn_pressed td.btnTransformBack,table.btn_pressed td.btnTransformNext,table.btn_pressed td.btnTransformUp,table.btn_pressed td.btnTransformDown {background-position: 0px -30px;}
table.btn_pressed {color: #1FA0D5;}
table.btn_hover td.btnNext,table.btn_hover td.btnBack,table.btn_hover td.btnTransformBack,table.btn_hover td.btnTransformNext,table.btn_hover td.btnTransformUp,table.btn_hover td.btnTransformDown {background-position: 0px -60px;}
table.btn_hover {color: #000000;}
table.btn_disabled td.btnNext,table.btn_disabled td.btnBack,table.btn_disabled td.btnTransformBack,table.btn_disabled td.btnTransformNext,table.btn_disabled td.btnTransformUp,table.btn_disabled td.btnTransformDown {background-position: 0px -90px;}
table.btn_disabled {color: #8E8E8E;}
td.transferBtnsSpacing {padding-top: 27px;}
table.rbTable td
{
padding: 3px 2px 3px 2px;
text-align:center;
}
table.rbTable td.lable
{
padding: 3px 2px 3px 0px;
text-align:left;
}
.queueTableTfoot
{
padding: 3px 0px 0px 4px;
border: none;
border-bottom: 1px solid #8499A2;
border-left: 1px solid #8499A2;
border-right: 1px solid #8499A2;
height: 30px;
background-color: #D9E3E9;
vertical-align: top;
}
.queueTableTfoot td
{
padding: 0px 10px 0px 0px;
border: none;
}
.queueTableTfoot td td
{
padding: 0px;
}
.queueTableBorder
{
border-style: solid solid none solid;
border-width: 1px;
border-color: #8499A2;
}
table.dataTable caption table td.TableName
{
font-weight: bold;
padding: 0px 0px;
}
table.dataTable caption span.tblName
{
float:left;
}
table.dataTable caption span.tblNameSafari
{
text-align:left;
}
table.dataTable caption span.pagination
{
font-weight: normal;
float:right;
}
a.pagingLink, a.pagingLink:visited {color:#0088c2; text-decoration:none}
a.selectedPagingLink, a.selectedPagingLink:visited{color:#0088c2;text-decoration:underline}
label.leftToCmb {padding-right: 8px;}
label.rightToCmb {padding-left: 8px;}
a.BottomLinkItem
{
font-family:arial;
color:#0088C2;
font-size:12px;
text-decoration:none;
}
a.BottomLinkItem:hover
{
text-decoration:underline;
}
td.BottomLinkSeperator
{
padding-left:3px;
padding-right:3px;
}
.overr {
vertical-align: middle;
width: 108px;
height: 24px;
overflow: hidden;
background: url(../images/dropdownarrows.gif) no-repeat right #fff;
border: 1px solid #a5a5a5;
display: inline-block;
margin-right: 10px;
}
select
{
background: transparent;
width: 108px;
padding: 3px;
font-size: 13px;
line-height: 1;
border: 0;
border-radius: 0;
height: 24px;
-webkit-appearance: none;
}
@-moz-document url-prefix() {
select {
width: 126px;
}
.CopperTest .overr {
width: 76px !important;
}
.CopperTest select {
width: 94px !important;
}
}
input[type=checkbox] {
display:none;
}
input[type=checkbox] + label {
background: url(../images/checkbox_button.png) no-repeat scroll 0 0 / 16px 16px transparent;
height: 16px;
width: 16px;
display:inline-block;
padding: 0;
}
input[type=checkbox]:checked + label {
background: url(../images/checkbox_button_on.png) no-repeat scroll 0 0 / 16px 16px transparent;
height: 16px;
width: 16px;
display:inline-block;
padding: 0;
}
input[type=radio] {
display:none;
}
input[type=radio] + label {
background: url(../images/radio_button.png) no-repeat scroll 0 0 / 16px 16px transparent;
height: 16px;
width: 16px;
display:inline-block;
padding: 0;
}
input[type=radio]:checked + label {
background: url(../images/radio_button_on.png) no-repeat scroll 0 0 / 16px 16px transparent;
height: 16px;
width: 16px;
display:inline-block;
padding: 0;
}
